.clients{
    position: relative;
    left: 500px;
}

 .image{
    margin-left: 240px;
    
}
.group{
     width: 400px;
     margin-top: 100px;
     position: sticky;
     left: 100px;
}
/* .groupe{
     width: 400px;
     margin-top: 100px;
    
} */
.group14{
    width: 400px;
    
}
.power{
    margin-top: 170px;
}
.per{
    margin-left: 25px;
    margin-top: -20px;
}

.create{
   margin-left: 100px;
   margin-top: 150px;
}
.creates{
    margin-left: 100px
}
.groups{
    margin-right: 100px;
    width: 400px;
    margin-top: -20px;
} 

.enhance{
    font-size: 13px;
}

.sam{ 
    margin-left: 400px;
}

.jimm{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 30px; 
    background-color: #fff;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
    border-color: #7f3448;
}



.jim{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 30px; 
    background-color: #fff;
    /* width: 80%; */
    margin: 0 auto;
    justify-content: center;
    border-color: #7f3448;
}

.ma{
    gap: 80px;
}
.and{
    
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 80px;
}


.top{
    margin-top: 150px;
}

.jims{
    border-top: 2px solid;
    border-right: 2px solid;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.get{
    margin-top: 100px;
}

.background3{
    background-color: #14394c;
}

.real-time{
    font-size: 21px;
}
.w{
    width: 7%;
}
/* .Rectangle{
    width: 500px;
} */

.App{
    height: 140px;
}

.down{
    width: 50px;
}

.btn{
    background-color: #6d1830;
    color: white;
    margin-top: 20px;
}

.card-text{
    font-size: 14px;
    margin-top: -26px;
}
.game{
    margin-left: 30px;
}
.our{
    margin-top: 150px;
}

.col{
    width: 380px;
}
.Agent{
    margin-top: -45px;
    margin-left: 55px;
}

.client{
    background-color: #fff9f2;
    margin-top: 370px;
}


.the{
    font-size: 13px;
}


.backgrounds{
    background-color: #6d1830;
}

.email{
    width: 350px;
}

.Subscribe{
    margin-left: 90px;
}




.me{
    text-align: end;
}


.fram{
    width: 20%;
}

.ro{
    gap: 1000px;
}

.line{
    border-bottom: 1px solid ;
   width: 80%;
    border-color: #b7b9bf;
}

.term{
    text-align: end;
}
